.not-found-view {
  background-image: url('https://s-media-cache-ak0.pinimg.com/736x/a5/8f/3c/a58f3c0aac88d2ce911a97e8df678faf--rabbits-cable.jpg');
  background-repeat: no-repeat;
  background-origin: border-box;
}
